<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo"> <span class="icon icon-cogs"></span>
            <h1><a href="index.html">confcódigo</a></h1>
            <span class="slogan">Partilhe suas <a href="http://templated.co" rel="nofollow">Experiências</a></span> </div>
        <div id="menu">
            <ul>
                <li><a href="#" accesskey="1" title="">Sobre Nós</a></li>
                <li class="current_page_item"><a href="#" accesskey="2" title="">Conferências</a></li>
                <li><a href="#" accesskey="3" title="">Programas</a></li>
                <li><a href="#" accesskey="4" title="">Submeter Proposta</a></li>
                <li><a href="#" accesskey="5" title="">Contacte-Nos</a></li>
            </ul>
        </div>
    </div>
</div>