<div id="wrapper2">
    <div id="welcome" class="container">
        <div class="title">
            <h2>Venha partilhar suas experiências</h2>
            
        </div>
        <p><strong>ConfCodigo</strong> é um projeto que visa criar uma conferência de programadores angolanos com o intuito de partilhar experiências profissionais, particulares, e desafios vividos ou encontrados num projeto.
            <a href="https://github.com/confcodigo/confcodigo-website" rel="nofollow">github</a>
        </p>
        <p><i>“A partilha de conhecimentos é o acto de amizade mais fundamental. Porque é uma forma de dar algo sem perder algo.”</i> <strong>-Richard Stallman</strong></p>
    </div>
</div>
<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Vivamus fermentum nibh</h2>
            <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
        <div class="column1">
            <div class="box">
                <span class="icon icon-wrench"></span>
                <h3>Vestibulum venenatis</h3>
                <p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
                <a href="#" class="button button-small">Etiam posuere</a> </div>
        </div>
        <div class="column2">
            <div class="box">
                <span class="icon icon-trophy"></span>
                <h3>Praesent scelerisque</h3>
                <p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
                <a href="#" class="button button-small">Etiam posuere</a> </div>
        </div>
        <div class="column3">
            <div class="box">
                <span class="icon icon-key"></span>
                <h3>Donec dictum metus</h3>
                <p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
                <a href="#" class="button button-small">Etiam posuere</a> </div>
        </div>
        <div class="column4">
            <div class="box">
                <span class="icon icon-lock"></span>
                <h3>Mauris vulputate dolor</h3>
                <p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
                <a href="#" class="button button-small">Etiam posuere</a> </div>
        </div>
    </div>
</div>