<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="{{ url_for('static',filename='padrao.css') }}" rel="stylesheet" type="text/css" media="all" />

<link href="{{ url_for('static',filename='erro.css') }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="conteudo-erro">
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Erro <span class="errorcode">404</span></h1>
  <p class="output">A página está em construção.</p>
  <p class="output">Por favor <a href="#1">volte na pagina inicial</a> ou <a href="#2">vá para nossa página do Github</a>.</p>
  <p class="output">Boa sorte.</p>
</div>
</div>
</body>
</html>